extends layout

block content
  #banner.page-header
    .row 
      .col-lg-6 
        h1 Projects 
          small with the location, time and quality of labour
  
  .row
    .col-xs-12.col-md-8
      .row.list-group
        .col-xs-12.list-group-item
          h4 
            a(href="/location") Getting MEAN 
            small &nbsp;
              span.glyphicon.glyphicon-floppy-saved
              | &nbsp 
              span.glyphicon.glyphicon-floppy-saved
              | &nbsp 
              span.glyphicon.glyphicon-floppy-saved
              | &nbsp 
              span.glyphicon.glyphicon-floppy-remove
              | &nbsp 
              span.glyphicon.glyphicon-floppy-remove 
            span.badge.pull-right.badge-default 27&nbsph
          p.address Realfagbygget, 5007 Bergen
          p 
            span.label.label-warning Python 
            | &nbsp 
            span.label.label-warning Java 
            | &nbsp 
            span.label.label-warning Matlab 
            | &nbsp

    .col-xs-12.col-md-8
      .row.list-group 
        .col-xs-12.list-group-item
          h4 
            a(href="/location") Dog Meet App
            small &nbsp;
              span.glyphicon.glyphicon-floppy-saved
              | &nbsp 
              span.glyphicon.glyphicon-floppy-saved
              | &nbsp 
              span.glyphicon.glyphicon-floppy-saved
              | &nbsp 
              span.glyphicon.glyphicon-floppy-saved
              | &nbsp 
              span.glyphicon.glyphicon-floppy-saved 
            span.badge.pull-right.badge-default 139&nbsph
          p.address Kristian Bings Vei 9, 5073
          p 
            span.label.label-warning Mongo DB
            | &nbsp 
            span.label.label-warning Express.js
            | &nbsp 
            span.label.label-warning Node.js
            | &nbsp
            span.label.label-warning Angular.js
            | &nbsp
            
    .col-xs-12.col-md-4
      p.lead The MEAN stack is a JavaScript-based framework for developing web applications. MEAN is named after MongoDB, Express, Angular, and Node, the four key technologies that make up the layers of the stack. MongoDB — document database. Express(.js) — Node.js web framework. Angular(.js) — a client-side JavaScript framework.
